{{ 's-footer.css' | asset_url | stylesheet_tag }}
{% liquid
  assign ig_link = 'https://www.instagram.com/bambuofficial__'
  assign fb_link = 'https://www.facebook.com/people/Bambucairo'
%}

<footer id="f">
  <figure>
    {{ section.settings.logo | image_url: width: 1100 | image_tag }}
  </figure>
  <div>
    {{ 'CONTACT' | link_to: pages.contact.url }}
    {{ 'TERMS & CONDITIONS' | link_to: shop.refund_policy.url }}
    <div class="f_s">
      <a href="{{ ig_link }}" target="_blank">
        {{ 'i-ig.svg' | inline_asset_content }}
      </a>
      <a href="{{ fb_link }}" target="_blank">
        {{ 'i-fb.svg' | inline_asset_content }}
      </a>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "n-footer",
  "settings": [
    {
      "id": "logo",
      "label": "Logo",
      "type": "image_picker"
    }
  ],
  "presets": [{ "name": "Footer" }]
}
{% endschema %}
